<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/css/qr.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<title>Crear Usuario</title>
</head>
<body>
    
	<div class="conta">

		<div class="user">
			<img class="user_logo" src="../images/w.png">
		</div>
		<div class="qs">
			<h1>Escanea el codigo QR</h1>
		</div>
		<div class="c">
			<img class="qr_logo" src="../images/sena2.png">
		</div>
		<br>
		<div class="qr">
			<h3>Escanea el codigo para tomar asistencia</h3>
		</div>
	</div>
</body>
</html>