body{
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
	background-color:#FEFAF9;


}
.conta{
	width: 550px;
	background-color:white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-shadow: 5px 5px 10px #999;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;

}
.c img{
	
	width: 300px;
	height: 300px;
	border: 10px solid #f88c34 ;
	
}
.user img{
	margin-bottom: -15px;
	width: 120px;
	height: 120px;
	
}
.qr {
border-bottom: 3px solid #f88c34 ;

}
.qr h3{
	font-size: 17.5px
}
.qs{
	font-size: 20px
}